alias v='nvim'
alias vim='nvim'
alias t='todo.sh'
alias suvi='sudo nvim'
alias syu='yay -Syu'
alias vpoly='nvim ~/.config/polybar/config'
alias vpolymod='nvim ~/.config/polybar/modules.ini'
alias vi3='nvim ~/.config/i3/config'
alias notes='nvim ~/MEGA/Notes/notes.txt'
alias films='xdg-open https://tinyurl.com/yb7m3454'
alias rds='cd /home/omk/MEGA/Documents\ M/Ruidos/Site\ Ruidos/'
alias rdsep='cd /home/omk/MEGA/Documents\ M/Ruidos/Site\ Ruidos/ && nvim Ep00\ Template.html'
alias vconf='nvim /home/omk/.config/nvim/init.vim'
alias copy='xclip -selection clipboard'
alias paste='xclip -selection clipboard -o'
alias vimcsed='nvim /home/omk/Storage/Insync/VIM/vim_cheatsheet.md'
alias vimcs='cd /home/omk/Storage/Insync/VIM/ && pandoc vim_cheatsheet.md -s -o vim_omk_cheatsheet.pdf && zathura vim_omk_cheatsheet.pdf & exit'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias cdsite='cd /home/omk/Storage/Insync/WEBSITE/kavotaman.github.io/'
alias jekylls='bundle exec jekyll serve -l'
alias jekyllb='bundle exec jekyll build'
alias git-push='git add --all && git commit -m "hello" && git push'
alias f='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
alias mega='cd /home/omk/MEGA'
alias dma='cd /home/omk/Storage/Insync/DMA\ BGSU\ 2019-'
alias wfon='nmcli radio wifi on'
alias wfoff='nmcli radio wifi off'
alias loja='cd /home/omk/MEGA/Documents\ M/WEBSITE/loja_ruidos/'
alias wkhtmltopdf='wkhtmltopdf -s letter'
alias dotfiles2='/usr/bin/git --git-dir=/home/omk/.dotfiles2/ --work-tree=/home/omk'
alias pacman-no-snap='sudo SKIP_AUTOSNAP= pacman -Syu'
alias cpu-max='tuned-adm profile latency-performance'
alias cpu-balanced='tuned-adm profile balanced'
alias cpu-min='tuned-adm profile laptop-battery-powersave'
alias ls='exa --icons --long --header'
alias vbspwm='nvim /home/omk/.config/bspwm/bspwmrc'
alias vkeyb='nvim /home/omk/.config/sxhkd/sxhkdrc'
alias wal='nitrogen --random --set-zoom-fill /home/omk/Pictures/WP &'
alias th='theme.sh'
alias yay='yay-wrapper.sh'
alias music='ncmpcpp'
alias z='zathura'
alias theory='cd /home/omk/Storage/Insync/DMA\ BGSU\ 2019-/3rd\ Year/Spring_22/TA_MuCT_1520/'
