alias ls='ls --color=auto'
alias ll='ls -lav --ignore=..'   # show long listing of all except ".."
alias l='ls -lav --ignore=.?*'   # show long listing but no hidden dotfiles except "."
alias v='nvim'
alias vim='nvim'
alias t='todo.sh'
alias suvi='sudo nvim'
alias tsc='sudo timeshift --create'
alias Syu='tsc && yay -Syu'
alias vpoly='nvim ~/.config/polybar/config'
alias vpolymod='nvim ~/.config/polybar/modules.ini'
alias vi3='nvim ~/.config/i3/config'
alias notes='nvim ~/MEGA/Notes/notes.txt'
alias films='xdg-open https://tinyurl.com/yb7m3454'
alias rds='cd /home/omk/MEGA/Documents\ M/Ruidos/Site\ Ruidos/'
alias rdsep='cd /home/omk/MEGA/Documents\ M/Ruidos/Site\ Ruidos/ && nvim Ep00\ Template.html'
alias vconf='nvim /home/omk/.config/nvim/init.vim'
alias copy='xclip -selection clipboard'
alias paste='xclip -selection clipboard -o'
alias vimcsed='nvim /home/omk/Storage/Insync/VIM/vim_cheatsheet.md'
alias vimcs='cd /home/omk/Storage/Insync/VIM/ && pandoc vim_cheatsheet.md -s -o vim_omk_cheatsheet.pdf && zathura vim_omk_cheatsheet.pdf & exit'
alias rdsep='cd /home/omk/MEGA/Documents\ M/Ruidos/Site\ Ruidos/ && nvim Ep00\ Template.html'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias docm='cd /home/omk/MEGA/Documents\ M/'
alias lnxmac='cd /home/omk/Storage/Insync/Linux/Linux/ && pandoc linux_on_mac.md -s -o linux_on_mac.pdf && zathura linux_on_mac.pdf & exit'
alias cdsite='cd /home/omk/MEGA/Documents\ M/WEBSITE/kavotaman.github.io/'
alias jekylls='bundle exec jekyll serve -l'
alias jekyllb='bundle exec jekyll build'
alias git-push='git add --all && git commit -m "hello" && git push'
alias ranger='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
alias post-tonal='cd /home/omk/Storage/Insync/DMA\ BGSU\ 2019-/2nd\ Year/S21\ Post-tonal\ Analysis'
alias disabilities='cd /home/omk/Storage/Insync/DMA\ BGSU\ 2019-/2nd\ Year/S21\ Music\ and\ Disabilities'
alias mega='cd /home/omk/MEGA'
alias dma='cd /home/omk/Storage/Insync/DMA\ BGSU\ 2019-'
alias wfon='nmcli radio wifi on'
alias wfoff='nmcli radio wifi off'
alias newsite='cd /home/omk/MEGA/Documents\ M/WEBSITE/TESTE/'
alias loja='cd /home/omk/MEGA/Documents\ M/WEBSITE/loja_ruidos/'
alias wkhtmltopdf='wkhtmltopdf -s letter'
alias dotfiles2='/usr/bin/git --git-dir=/home/omk/.dotfiles2/ --work-tree=/home/omk'


